################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
kapuza/laba1_/.idea
kapuza/laba1_/.idea
kapuza/.DS_Store
.DS_Store
