################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/kanunnikava/laba 2/laba2.1/laba2.1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/kanunnikava/laba 2/laba 2.2.1/laba2.2.1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/kanunnikava/laba 2/laba 2.2.2/laba2.2.2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/kanunnikava/laba 3/laba3.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/kanunnikava/laba 4/laba4.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/kanunnikava/laba 1/.idea/libraries/KotlinJavaRuntime.xml
/kanunnikava/laba 1/laba1.iml
/.idea/misc.xml
/kanunnikava/laba 1/.idea/misc.xml
/.idea/modules.xml
/kanunnikava/laba 1/.idea/modules.xml
/kanunnikava/laba 2/laba2.1/laba2.1.xcodeproj/project.pbxproj
/kanunnikava/laba 2/laba 2.2.1/laba2.2.1.xcodeproj/project.pbxproj
/kanunnikava/laba 2/laba 2.2.2/laba2.2.2.xcodeproj/project.pbxproj
/kanunnikava/laba 3/laba3.xcodeproj/project.pbxproj
/kanunnikava/laba 4/laba4.xcodeproj/project.pbxproj
/kanunnikava/laba 1/.idea/inspectionProfiles/Project_Default.xml
/kanunnikava/laba 2/laba2.1/laba2.1.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/kanunnikava/laba 2/laba 2.2.1/laba2.2.1.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/kanunnikava/laba 2/laba 2.2.2/laba2.2.2.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/kanunnikava/laba 3/laba3.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/kanunnikava/laba 4/laba4.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/.idea/vcs.xml
/kanunnikava/laba 2/laba2.1/laba2.1.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/kanunnikava/laba 2/laba 2.2.1/laba2.2.1.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/kanunnikava/laba 2/laba 2.2.2/laba2.2.2.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/kanunnikava/laba 3/laba3.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/kanunnikava/laba 4/laba4.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/.idea/Новая папка.iml
