################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/maydanyuk/syap2.1/syap2.1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/maydanyuk/syap2.2.1/syap2.2.1.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/maydanyuk/syap2.2.2/syap2.2.2/vera2.2.2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/maydanyuk/syap2.2.2/syap2.2.2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/maydanyuk/syap3/syap3.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/.idea/misc.xml
/.idea/modules.xml
/maydanyuk/laba1syap/.idea/misc.xml
/maydanyuk/laba1syap/.idea/modules.xml
/maydanyuk/syap2.1/syap2.1.xcodeproj/project.pbxproj
/maydanyuk/syap2.2.1/syap2.2.1.xcodeproj/project.pbxproj
/maydanyuk/syap2.2.2/syap2.2.2/vera2.2.2.xcodeproj/project.pbxproj
/maydanyuk/syap2.2.2/syap2.2.2.xcodeproj/project.pbxproj
/maydanyuk/syap3/syap3.xcodeproj/project.pbxproj
/.idea/syap.iml
/maydanyuk/syap2.1/syap2.1.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/maydanyuk/syap2.2.1/syap2.2.1.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/maydanyuk/syap2.2.2/syap2.2.2/vera2.2.2.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/maydanyuk/syap2.2.2/syap2.2.2.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/maydanyuk/syap3/syap3.xcodeproj/project.xcworkspace/xcuserdata/antoninaber.xcuserdatad/UserInterfaceState.xcuserstate
/.idea/vcs.xml
/maydanyuk/syap2.1/syap2.1.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/maydanyuk/syap2.2.1/syap2.2.1.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/maydanyuk/syap2.2.2/syap2.2.2/vera2.2.2.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/maydanyuk/syap2.2.2/syap2.2.2.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
/maydanyuk/syap3/syap3.xcodeproj/xcuserdata/antoninaber.xcuserdatad/xcschemes/xcschememanagement.plist
